---
import { Icon } from 'astro-icon';

import Nav from '../components/Nav.astro';
import MainLayout from "../layouts/MainLayout.astro";
import TabPhoto from '../components/TabPhoto.astro';
import SectionStudio from '../components/SectionStudio.astro';
import Button from '../components/Button.astro';
import contactData from "../data/contactData";
---

<MainLayout>
	<Nav />

	<!-- Hero Section -->
	<section id="hero">
		<!-- Flex Container -->
		<div class="container flex flex-col space-y-12 md:space-y-0 md:flex-row items-start md:items-center px-6 mx-auto mt-5 md:mt-10">
			<!-- Left item -->
			<div class="flex flex-col space-y-12 md:w-1/2">
				
				<p class="max-w-sm">
					Профессиональный фотограф
				</p>
				<div class="animate-hide flex md:justify-end">
					<h1 class="font-serif text-brightRed text-4xl md:text-5xl lg:text-6xl whitespace-nowrap pr-2">
						Татьяна Алита
					</h1>
				</div>
				<div class="flex justify-end">
					<p class="md:max-w-xs">
						Искусство - не просто увлечение, а моя жизнь.<br />
						А фотоаппарат это часть меня - моё продолжение.
					</p>
				</div>
				<div class="flex justify-center md:justify-start">
					<Button href="#contacts" text="Записаться на фотосессию" />
				</div>
			</div>
			<!-- Image -->
			<div class="md:w-1/2">
				<img src ="img/hero.jpg" alt="Tatiana Anita hero photo" />
			</div>
		</div>
	</section>

	<!-- About Section -->
	<section id="about" data-anchor="about">
		<div class="container flex flex-col space-y-12 md:space-y-0 md:flex-row items-start md:items-center px-6 mx-auto mt-20">
			<!-- Left item -->
			<div class="flex flex-col space-y-6 md:space-y-12 md:w-1/2 pr-2">
				<h2 class="animate-hide font-serif text-brightRed text-4xl md:text-5xl lg:text-6xl whitespace-nowrap md:pr-2">
					Обо мне
				</h2>
				<blockquote  class="flex justify-start md:justify-center">
					<p class="md:max-w-xs italic">
						"Люди часто говорят 'фотография - это здорово, хорошее хобби!'<br />
						А чем ты по жизни занимаешься?<br />
						Кем работаешь?"
					</p>
				</blockquote>
				<div class="flex flex-col space-y-6">
					<p>
						Здравствуйте, меня зовут Татьяна Алита. Я профессиональный фотограф в г.Санкт-Петербург.
					</p>
					<p>
						В проефессии с 2013 года. Я фотограф таких жанров, как фотопрогулка, студийная, семейная, детская съемка.
					</p>
					<p>
						Я не буду говорить, что я очень опытный или суперталантливый фотограф с выдающейся точкой зрения в искусстве.
						Но я скажу, что искусство это моя жизнь. Не просто увлечение. Это всё, чем я живу, что делаю и творю.
						Фотоаппарат это часть меня - моё продолжение.
					</p>
				</div>
			</div>
			<!-- Image -->
			<div class="md:w-1/2 overflow-hidden lg:h-[46rem]">
				<img src="img/about.jpg" alt="Tatiana Anita about picture" class="object-cover w-full h-full" />
			</div>
		</div>
	</section>

	<!-- Features Section -->
	<section id="features" data-anchor="features">
		<div class="container flex flex-col space-y-6 md:space-y-12 px-6 mx-auto mt-20">
			<h2 class="animate-hide font-serif text-brightRed text-4xl md:text-5xl lg:text-6xl whitespace-nowrap pr-2 flex flex-col">
				Фотосессия
				<span class="ml-20">со мной, это:</span>
			</h2>
			<div class="flex flex-col md:flex-row gap-8 md:gap-4">
				<div class="feature animate-hide">
					<h6 class="font-serif text-2xl mb-5 flex flex-col space-y-2 w-fit">
						<span class="">Высокое качество фото</span>
						<span class="border-b border-veryLightGray"></span>
					</h6>
					<p>
						За 9 лет я обработала более 30 000 фотографий. И работаю только на профессиональном оборудовании.
					</p>
				</div>
				<div class="feature animate-hide">
					<h6 class="font-serif text-2xl mb-5 flex flex-col space-y-2 w-fit">
						<span class="">Индивидуальный подход</span>
						<span class="border-b border-veryLightGray"></span>
					</h6>
					<p>
						Если у вас нет опыта в съемках, то это не страшно. Я помогу в позировании на протяжении всей фотосессии.
					</p>
				</div>
				<div class="feature animate-hide">
					<h6 class="font-serif text-2xl mb-5 flex flex-col space-y-2 w-fit">
						<span class="">Помощь в подборе локации</span>
						<span class="border-b border-veryLightGray"></span>
					</h6>
					<p>
						Я помогу подобрать проверенную студию для съемок и знаю, где лучше всего пройдёт уличная фотосессия.
					</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Photoshoots Formats -->
	<section id="formats-photoshoots" data-anchor="formats-photoshoots">
		<div class="container flex flex-col space-y-6 md:space-y-12 px-6 mx-auto mt-20 md:mt-20 lg:mt-40">
			<h2 class="animate-hide font-serif text-brightRed text-4xl md:text-5xl lg:text-6xl whitespace-nowrap pr-2 flex flex-col">
				Форматы съемок
			</h2>
			<div 
				role="tablist"
				aria-label="tabs"
				class="w-max mx-auto grid grid-cols-2 md:grid-cols-4 gap-y-3 col-auto items-center px-[3px] overflow-hidden transition"
			>
				<button
					role="tab"
					aria-selected="true"
					aria-controls="panel-studio"
					id="tab-studio"
					tabindex="0"
					class="h-10 px-6 tab border-b border-brightRed text-brightRed"
				>
					Студийная
				</button>
				<button
					role="tab"
					aria-selected="false"
					aria-controls="panel-family"
					id="tab-family"
					tabindex="-1"
					class="h-10 px-6 tab border-b border-veryLightGray"
				>
					Семейная
				</button>
				<button
					role="tab"
					aria-selected="false"
					aria-controls="panel-walk"
					id="tab-walk"
					tabindex="-1"
					class="h-10 px-6 tab border-b border-veryLightGray"
				>
					Фотопрогулка
				</button>
				<button
					role="tab"
					aria-selected="false"
					aria-controls="panel-child"
					id="tab-child"
					tabindex="-1"
					class="h-10 px-6 tab border-b border-veryLightGray"
				>
					Детская
				</button>
			</div>
			<!-- Tab Content -->
			<div class="mt-6 relative">
				<TabPhoto
					id="panel-studio"
					image0="img/formats/studio/0.jpg"
					image1="img/formats/studio/1.jpg"
					image2="img/formats/studio/2.jpg"
					image3="img/formats/studio/3.jpg"
					image4="img/formats/studio/4.jpg"
					href="#"
					active={true}
				/>
				<TabPhoto
					id="panel-family"
					image0="img/formats/family/0.jpg"
					image1="img/formats/family/1.jpg"
					image2="img/formats/family/2.jpg"
					image3="img/formats/family/3.jpg"
					image4="img/formats/family/4.jpg"
					href="#"
				/>
				<TabPhoto
					id="panel-walk"
					image0="img/formats/walk/0.jpg"
					image1="img/formats/walk/1.jpg"
					image2="img/formats/walk/2.jpg"
					image3="img/formats/walk/03.jpg"
					image4="img/formats/walk/4.jpg"
					href="#"
				/>
				<TabPhoto
					id="panel-child"
					image0="img/formats/child/0.jpg"
					image1="img/formats/child/1.jpg"
					image2="img/formats/child/2.jpg"
					image3="img/formats/child/3.jpg"
					image4="img/formats/child/4.jpg"
					href="#"
				/>
			</div>

		</div>
	</section>

	<!-- Work Steps -->
	<section id="work-steps" data-anchor="work-steps">
		<div class="container flex flex-col mx-auto mt-10 px-6 space-y-6 md:space-y-12">
			<h2 class="animate-hide font-serif text-brightRed text-4xl md:text-5xl lg:text-6xl whitespace-nowrap md:pr-2">
				Этапы работы
			</h2>
			<div class="flex flex-col-reverse md:space-x-6 md:space-y-0 md:flex-row items-start mt-10">
				<!-- Left side -->
				<div class="flex flex-col space-y-8 md:w-1/3 md:min-w-[280px] my-10 md:mt-0 ">
					<div>
						<img src="img/work-steps.jpg" alt="Work Steps of Photographer" class="object-cover w-full h-full md:min-h-[400px] lg:max-h-[420px]" />
					</div>
					<div class="flex justify-center md:justify-start">
						<Button href="#contacts" text="Записаться на фотосессию" />
					</div>
				</div>
				<!-- Right side -->
				<div class="flex flex-col  md:w-2/3">
					<div class="flex border-b border-veryLightGray py-2 lg:py-4">
						<div class="w-1/3 font-serif text-xl">
							01<br>
							Оставьте заявку
						</div>
						<div class="w-2/3 pl-2">
							Фотограф свяжется с вами в течении двух часов и ответит на интересующие вопросы
						</div>
					</div>
					<div class="flex border-b border-veryLightGray py-2 lg:py-4">
						<div class="w-1/3 font-serif text-xl">
							02<br>
							Внесите предоплату
						</div>
						<div class="w-2/3 pl-2">
							Предоплата составляет 1500 руб. Предоплата невозвратная, но съемку можно перенести на другой свободный день. Остаток оплачивается при заключении договора на фотоуслуги.
						</div>
					</div>
					<div class="flex border-b border-veryLightGray py-2 lg:py-4">
						<div class="w-1/3 font-serif text-xl">
							03<br>
							Выберите студию/<br>
							локацию
						</div>
						<div class="w-2/3 pl-2">
							Вы можете выбрать маршрут для фотопрогулки, который мы составили заранее, выбрать из проверенных фотостудий, с которыми мы сотрудничаем. Либо свой вариант.
						</div>
					</div>
					<div class="flex border-b border-veryLightGray py-2 lg:py-4">
						<div class="w-1/3 font-serif text-xl">
							04<br>
							Забронируйте время
						</div>
						<div class="w-2/3 pl-2">
							Бронирование фотосессии на желаемую дату и время, осуществляется после продоплаты. Перенос съемки производится не позднее пяти дней до начала съемки.
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Photo Studios -->
	<section id="studios" data-anchor="studios">
		<div class="container flex flex-col space-y-8 md:space-y-12 px-6 mx-auto mt-2 md:mt-20">
			<h2 class="animate-hide font-serif text-brightRed text-3xl md:text-5xl lg:text-6xl whitespace-nowrap pr-2 flex flex-col">
				Фотосессия в лучших
				<span class="ml-5 md:ml-20">
					залах Санкт-Петербурга
				</span>
			</h2>
			<SectionStudio
				id="studio-lumier"
				header='Зал "ЛЮМЬЕР"'
				text="Территориально ст.метро пл.Ленина"
				image1="img/studios/lumier/1.jpg"
				image2="img/studios/lumier/2.jpg"
				image3="img/studios/lumier/3.jpg"
				image4="img/studios/lumier/4.jpg"
				image5="img/studios/lumier/5.jpg"
				image6="img/studios/lumier/6.jpg"
			/>
			<SectionStudio
				id="studio-panorama"
				header='Зал "ПАНОРАМНЫЙ"'
				text="Территориально ст.метро Петроградская"
				image1="img/studios/panorama/1.jpg"
				image2="img/studios/panorama/2.jpg"
				image3="img/studios/panorama/3.jpg"
				image4="img/studios/panorama/4.jpg"
				image5="img/studios/panorama/5.jpg"
				image6="img/studios/panorama/6.jpg"
			/>
			<SectionStudio
				id="studio-ellen"
				header='Зал "ЭЛЛЕН"'
				text="Территориально ст.метро пр.Лиговский"
				image1="img/studios/ellen/1.jpg"
				image2="img/studios/ellen/2.jpg"
				image3="img/studios/ellen/3.jpg"
				image4="img/studios/ellen/4.jpg"
				image5="img/studios/ellen/5.jpg"
				image6="img/studios/ellen/6.jpg"
			/>
			<div class="flex justify-center">
				<Button href="#contacts" text="Записаться на фотосессию" />
			</div>
		</div>
	</section>

	<!-- Reviews Section -->
	<section id="reviews" data-anchor="reviews">
		<div class="container flex flex-col mx-auto mt-20 px-6 space-y-6 md:space-y-12 relative">
			<h2 class="animate-hide font-serif text-brightRed text-4xl md:text-5xl lg:text-6xl whitespace-nowrap md:pr-2">
				Что говорят клиенты
			</h2>
			
			<div class="flex space-x-2 mt-10 overflow-hidden">
				<div class="reviews flex">
				</div>
				<button id="reviews-arrow-right" class="arrow w-[35px] absolute top-[calc(50%+2rem)] -right-3 hover:-right-4 hover:text-brightRed focus:text-brightRed transition-all duration-300 ease-out bg-darkGray rounded-full">
					<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><line x1="40" y1="128" x2="216" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><polyline points="144 56 216 128 144 200" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline></svg>
				</button>
			</div>
		</div>
	</section>

	<!-- Contacts -->
	<section id="contacts" data-anchor="contacts">
		<div class="container flex flex-col mx-auto mt-20 px-6 relative">
			<h2 class="animate-hide font-serif text-brightRed text-4xl md:text-5xl lg:text-6xl whitespace-nowrap md:pr-2">
				Контакты
			</h2>
			<div class="flex flex-col items-center md:flex-row space-x-0 selection:md:space-x-6 items-start mt-0 md:mt-10">
				<!-- Left side -->
				<div class="flex flex-col gap-y-6 w-full md:w-1/2 md:min-w-[280px] my-10 md:mt-0">
					<div class="flex flex-col gap-y-1 mt-3">
						<a href=`tel:${contactData.phoneValue}` class="text-xl" >
							<span>{contactData.phoneText}</span>
						</a>
						<a href=`email:${contactData.email}` class="text-xl" >
							<span>{contactData.email}</span>
						</a>
					</div>
					<div class="flex flex-col gap-y-1">
						<span>г. Санкт-Петербург</span>
						<span>м. Московская</span>
						<span>ул. Авиационная, дом 2</span>
					</div>
					<div class="flex gap-x-4">
						<a href=`${contactData.vk}` target="blank" class="flex justify-center items-center bg-darkGray">
							<Icon name="el:vkontakte" width="36px" class="text-brightRed rounded-full" />
						</a>
						<a href=`${contactData.facebook}` target="blank" class="flex justify-center items-center bg-darkGray">
							<Icon name="simple-icons:facebook" width="36px" class="text-brightRed" />
						</a>
						<a href=`${contactData.instagram}` target="blank" class="flex justify-center items-center w-[36px] h-[36px] rounded-full bg-brightRed">
							<Icon name="ri:instagram-line" width="32px" class="text-darkGray" />
						</a>
						<a href=`tel:${contactData.phoneValue}` class="flex justify-center items-center w-[36px] h-[36px] rounded-full bg-brightRed">
							<Icon name="ri:phone-fill" width="28px" class="text-darkGray" />
						</a>
					</div>
				</div>
				<!-- Right side -->
				<form action="" class="flex flex-col w-full md:w-1/2">
					<input class="appearance-none border-b border-veryLightGray w-full py-5 bg-darkGray leading-tight focus:outline-none" id="name" type="text" placeholder="Ваше имя">
					<input class="appearance-none border-b border-veryLightGray w-full py-5 bg-darkGray leading-tight focus:outline-none" id="phone" type="text" placeholder="+7 (999) 999-99-99">
					<textarea id="question" rows="3" class="w-full bg-darkGray border-b border-veryLightGray py-5 focus:outline-none" placeholder="Ваш вопрос" required></textarea>
					<div class="flex justify-center md:justify-start mt-8">
						<Button href="#" text="Отправить" isSubmit={true} />
					</div>
				</form>
			</div>
		</div>
	</section>

	<!-- FAQ -->
	<section id="faq" data-anchor="faq">
		<div class="container flex flex-col mx-auto mt-20 px-6 space-y-6 md:space-y-12">
			<h2 class="animate-hide font-serif text-brightRed text-4xl md:text-5xl lg:text-6xl whitespace-nowrap md:pr-2">
				F.A.Q.
			</h2>
			<ul class="faq flex flex-col gap-y-1 mt-10 border-b border-brightRed">
			</ul>
		</div>
	</section>
</MainLayout>

<script>
	import "../js/animation.js";
	import "../js/tabs.js";
	import "../js/reviews.js";
	import "../js/faq.js";
</script>