---
import { Image } from "astro:assets";
import contactData from "../data/contactData";
---

<div class="container flex flex-col md:flex-row items-start px-6 mx-auto mt-20 mb-10 justify-between text-sm gap-4">
	<div class="flex flex-row gap-4 sm:gap-12 md:gap-20 lg:gap-32">
		<div class="flex flex-col gap-y-3">
			<h6 class="text-base font-semibold">TatianaAlita 2023</h6>
			<ul class="flex flex-col gap-y-2">
				<li>&copy; Все права защищены</li>
				<li>Договор оферты</li>
				<li>Политика<br> конфиденциальности</li>
			</ul>
		</div>
		<div class="flex flex-col gap-y-3">
			<h6 class="text-base font-semibold">Навигация</h6>
			<ul class="flex flex-col gap-y-2">
				<li><a href="#about" aria-label="Read more about photograph">Обо мне</a></li>
				<li><a href="#formats-photoshoots" aria-label="Know more about different formats of photoshoots">Форматы съемки</a></li>
				<li><a href="#studios" aria-label="Explore photo studios where photograph likes to work">Фотостудии</a></li>
				<li><a href="#reviews" aria-label="See reviews from clients">Отзывы</a></li>
				<li><a href="#contacts" aria-label="How to contact with photograph">Контакты</a></li>
			</ul>
		</div>
	</div>
	<div class="flex flex-row gap-10 md:gap-10 lg:gap-32">
		<div class="flex flex-col gap-y-3" >
			<h6 class="text-base font-semibold">Соц.сети</h6>
			<ul class="flex flex-col gap-y-2">
				<li><a href=`${contactData.instagram}` target="_blank" aria-label="Open my page Instagram">INSTAGRAM</a></li>
				<li><a href=`${contactData.vk}` target="_blank" aria-label="Open my page VKontakte">VKONTAKTE</a></li>
				<li><a href=`${contactData.whatsapp}` target="_blank" aria-label="Contact me in Whatsapp">WHATSAPP</a></li>
				<li><a href=`${contactData.viber}` target="_blank" aria-label="Contact me in Viber">VIBER</a></li>
			</ul>
		</div>
		<div class="flex flex-col gap-y-3" >
			<h6 class="text-base font-semibold">Контакты</h6>
			<ul class="flex flex-col gap-y-2">
				<li><a href=`tel:${contactData.phoneValue}` aria-label="Call me">{contactData.phoneText}</a></li>
				<li><a href=`email:${contactData.email}` aria-label="Email me">{contactData.email}</a></li>
				<li class="flex items-center mt-5 md:mt-10">
					<span>website developed by</span>
					<a href=`${contactData.developer}` target="_blank" aria-label="See who developed this website" class="flex w-[45px] pl-2">
						<Image src="/kv-logo.svg" alt="Logo Developer" width={81} height={67} class="w-full"/>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>