---

interface Props {
	image1: string;
	image2: string;
	image3: string;
	image4: string;
	image5: string;
	image6: string;
	image7: string;
	image8: string;
	image9: string;
	image10: string;
	image11: string;
}

const {
	image1,
	image2,
	image3,
	image4,
	image5,
	image6,
	image7,
	image8,
	image9,
	image10,
	image11

} = Astro.props as Props;
---

<div class="grid grid-cols-2 md:grid-cols-5 gap-4">
		<div class="col-span-2 overflow-hidden h-[14rem] lg:h-[16rem] xl:h-[22rem]">
			<img src={image1} alt="photo sample" class="object-cover w-full h-full">
		</div>
		<div class="overflow-hidden h-[14rem] lg:h-[16rem] xl:h-[22rem]">
			<img src={image2} alt="photo sample" class="object-cover w-full h-full">
		</div>
		<div class="md:col-span-2 overflow-hidden h-[14rem] lg:h-[16rem] xl:h-[22rem]">
			<img src={image3} alt="photo sample" class="object-cover w-full h-full">
		</div>

		<div class="hidden md:block overflow-hidden h-[14rem] lg:h-[16rem] xl:h-[22rem]">
			<img src={image4} alt="photo sample" class="object-cover w-full h-full">
		</div>
		<div class="col-span-2 overflow-hidden h-[14rem] lg:h-[16rem] xl:h-[22rem]">
			<img src={image5} alt="photo sample" class="object-cover w-full h-full">
		</div>
		<div class="overflow-hidden h-[14rem] lg:h-[16rem] xl:h-[22rem]">
			<img src={image6} alt="photo sample" class="object-cover w-full h-full">
		</div>
		<div class="overflow-hidden h-[14rem] lg:h-[16rem] xl:h-[22rem]">
			<img src={image7} alt="photo sample" class="object-cover w-full h-full">
		</div>

		<div class="overflow-hidden h-[14rem] lg:h-[16rem] xl:h-[22rem]">
			<img src={image8} alt="photo sample" class="object-cover w-full h-full">
		</div>
		<div class="overflow-hidden h-[14rem] lg:h-[16rem] xl:h-[22rem]">
			<img src={image9} alt="photo sample" class="object-cover w-full h-full">
		</div>
		<div class="col-span-2 overflow-hidden h-[14rem] lg:h-[16rem] xl:h-[22rem]">
			<img src={image10} alt="photo sample" class="object-cover w-full h-full">
		</div>
		<div class="hidden md:block overflow-hidden h-[14rem] lg:h-[16rem] xl:h-[22rem]">
			<img src={image11} alt="photo sample" class="object-cover w-full h-full">
		</div>
</div>
